{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "include": ["src/domain/*.ts"],
  "exclude": ["tests/**", "src/domain/Bottle.ts"],
  "reporter": ["html", "text"],
  "report-dir": "coverage/domain"
}
